WEBSOCKET_SERVER=websocket_server # Options: 'fast_api' or 'websocket_server'

# OpenTelemetry Tracing Configuration
ENABLE_TRACING=false
OTEL_CONSOLE_EXPORT=false
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_EXPORTER_OTLP_HEADERS=
OTEL_SERVICE_NAME=voice-agent-stack

sudo docker run \
  -e COQUI_TOS_AGREED=1 \
  --rm \
  -p 8000:80 \
  ghcr.io/coqui-ai/xtts-streaming-server:latest-cpu


